// colors, fonts, spacing

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


// Default Colors
$primary-color: #333;
$secondary-color: #fff;
$hover-color: #f0f0f0;

